<section id="vrm">
  <div class="sec-container">
    <div id="vr-container" class="vr-container">
      <div class="description">
        Disclaimer: The VRM model presented is not mine <br />
        but free of use under MIT License. <br />
        This VRM model was also use <br />
        in the
        <a href="https://glitch.com/edit/#!/kalidokit"> VRM glitch tutorial </a>
        by <a href="https://github.com/yeemachine">yeemachine</a>
      </div>
    </div>
    <div class="camera-container">
      <div class="vid-wrapper">
        <video id="video" #inputCamera></video>
      </div>
      <div class="holistic-wrapper">
        <canvas id="guidecanvas" class="guides"></canvas>
      </div>
    </div>
    <footer><pre>developed by: elyson</pre></footer>
  </div>
  
</section>
